[submodule "app/Plugin/debug_kit"]
	path = app/Plugin/debug_kit
	url = https://github.com/cakephp/debug_kit.git
[submodule "app/webroot/js/jquery_jeditable"]
	path = app/webroot/js/jquery_jeditable
	url = https://github.com/tuupola/jquery_jeditable.git
[submodule "Plugin/TwitterBootstrap"]
	path = Plugin/TwitterBootstrap
	url = git://github.com/slywalker/TwitterBootstrap.git
[submodule "app/Plugin/TwitterBootstrap"]
	path = app/Plugin/TwitterBootstrap
	url = git://github.com/slywalker/TwitterBootstrap.git
